@font-face {
    font-family: rubik-maze-font;
    src: url(/home/bobby/the-odin-project/sign-up-form/Rubik_Maze/RubikMaze-Regular.ttf);
}

body {
    display: flex;
}

div {
    display: flex;
    border: 2px solid red;
    flex: 1;
}

.img_side {
    justify-content: center;
}

img {
    width: 100%;
    height: 100%;
}

h2 {
    font-family: rubik-maze-font
}

.signup_side {
        flex-direction: column;
}
