@font-face {
    font-family: rubik-maze-font;
    src: url(/home/bobby/the-odin-project/sign-up-form/Rubik_Maze/RubikMaze-Regular.ttf);
}

body {
    display: flex;
}

div {
    display: flex;
    flex: 1;
}

.img_side {
    position: relative;
    justify-content: center;
}

h2 {
    font-family: rubik-maze-font
}

.signup_side {
        flex-direction: column;
}

.logo_overlay {
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 250px;
    background-color: rgba(0,0,0,0.5);
}

fieldset {
    display: grid;
    grid-template-row: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.signup_side_top {
    flex-direction: column;
}
.signup_side_mid {
    align-items: center;
}

.signup_side_bot {
    flex-direction: column;
}